/* Custom Properties */
:root {
    --button-color: #8946E0;
    --button-hover-color: #633fcf;
    --input-color: #3B427D;
    --input-hover-color: #504997;
    --main-bg-color: #323232;
    --second-bg-color: #444444;

    --personal-color: #3B7D3F;
    --wip-color: #7D3B3C;
}

html, body{
    min-height: 100%;
}

#hidden{
    filter: blur(4px);
}


/* General body */

body{
    margin:0%;
    font-family: "Inter";
    font-style: normal;
    color: #D4D1D1;
}

h1{
    line-height: 40px;
    color: white;
}

.bg
{
    background-color: var(--main-bg-color);
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.content{
    margin-left: 50px;
    margin-right: 50px;
    flex-grow: 1;
}

button{
    background-color: var(--button-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

h1{
    font-size: 60px;
    font-weight: bold;
}

p{
    font-size: 25px;
}

a{
    text-decoration: none;
    color:white;
}
/* Header Content */

.header-content{
    display:flex;
    align-items: center;
    gap:10px;
    background-color: var(--second-bg-color);
    
}

.header-content p, .header-content img{
    position: relative;
    margin: 20px auto;
    padding: 0px;
    text-align: center !important;
    font-size: 20px;
}

.header-content img{
    width:4%;
    cursor: pointer;
}

.header-content p:hover, header-content img:hover{
    cursor: pointer;
}

.header-content p:hover:before{
    content: ""; 
    position: absolute;
    border-bottom: 2px solid white;
}

 .header-content p:hover:after {
    content: ""; 
    position: absolute;
    margin: 0 auto;
    display: block; 
    padding-top: 10px;
    width: 100%;
    border-bottom: 5px solid white;
    left: 0px;
    right: 0px;
}


/* Introduction Content */

.introduction{
    text-align: center;
    min-height: 200px;
}

.introduction p{
    margin-top: 60px;
}

.introduction h1{
    line-height: 0.9;
    font-weight: bold;
}

/* Summary Content */
.summary {
    display: flex;
    flex-direction: row;
    gap:50px;
}
.summary img{
    border-radius: 5px;
    height: 39%;
    width: 39%;
    max-width: 100%;
    max-height: auto;
}

.summary-info{
    display: flex;
    flex-direction: column;
}

.summary-text h1, .summary-text p{
    margin: 0%;
}


.summary-text p{
    font-size: 30px;
}

.summary-buttons{
    margin-top: auto;
}

.summary-buttons button{
    box-sizing: border-box;
    border-radius: 5px;
    font-size:30px;
    border: none;
    color: white;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

/* Services Content */

.services{
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.services-details{
    display:flex;
    flex-direction: row;
    gap:50px;
}
.services-details img{
    height: 20%;
    width: 20%;
    border-radius: 10px;
}

.services-text p, .services-text h2{
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.services-text h2{
    margin-bottom: 20px;
    line-height: 25px;
}

/* Connection Content */
.connection, .connection-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-form input[type="text"],  .connection-form input[type="email"]{
    background-color: var(--input-color);
    border-radius: 5px;
    border: 1px solid transparent;
    width: 600px;
    height:70px;
    color:white;
    font-size:25px;
    padding-left: 25px;
}


.connection-form input::placeholder, .connection-form textarea::placeholder{
    color:white;
    font-size: 25px;
    opacity: 75%;
}

.connection-form textarea{
    resize: vertical;
    margin-bottom: 20px;
    background-color: var(--input-color);
    border-radius: 5px;
    border: none;
    width: 580px;
    height:100px;
    min-height: 90px;
    color:white;
    font-size:25px;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
}

.connection-form input[type="submit"]{
    align-items: center;
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    height:70px;
    width: 200px;
    color:white;
    font-size: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.connection-form input[type="submit"]:hover{
    background-color: var(--button-hover-color);
}

.forms{
    margin-bottom: 25px;
}

.error-message{
    color: red;
    font-size: 15px;
    margin: 0%;
    align-self: flex-start;
    display: none;
}

/* About Me Content */
.working-experience{
    min-height: 400px;
}
.aboutMe{
    display:flex;
    margin-bottom: 20px;
}

.aboutMe img{
    height:70%;
    width: 20%;
    border-radius: 10px;
    min-width: 300px;
    min-height: 400px;
}

.aboutMe h1, .aboutMe p{
    margin:0;
    margin-left: 40px;
}

.working-history{
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    gap: 80px;

}

.past-job-component p{
    margin: 0;
    font-size: 25px;
    min-width: 600px;
    text-align: center;
    padding:5px;
    border-radius: 10px;
    background-color: var(--input-color);
    border: 8px solid transparent;
}

/* Social Media Content */
.social-media{
    display:flex;
    gap:20px;
    margin-bottom: 20px;
    width: 100%;
}

.accounts{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 20px;
    background-color: var(--input-color);
    flex: 1 0 0;
    min-width: 250px;
    min-height: 300px;
    max-width: none;
    white-space: normal;
    border-radius: 10px;
    cursor: pointer;
}

.accounts:hover{
    background-color:  var(--input-hover-color);
}

.accounts p{
    word-wrap: break-word;
    text-align: center;
    max-width: 87%;
    font-size: 36px;
    font-weight: bold;
}


.accounts img{
    height: 180px;
    width: 180px;
}

/* Portfolio/Gallery Content */
.portfolio{
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
    
}

.portfolio-object{
    display:flex;
    height:100%;
    background-color: var(--input-color);
    border-radius: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}

.portfolio-object img{
    width:500px;
    height:400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.portfolio-object:hover{
    background-color:  var(--input-hover-color);
}

.portfolio-detail{
    display:flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.portfolio-tag{
    display: flex;
    margin-right: 20px;
    margin-left: auto;
}

.portfolio-tag p{
    background-color: var(--personal-color);
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 20px;
    padding:0%;
    text-align: center;
    padding: 5px;
}

#wip{
    background-color: var(--wip-color);
}

#python{
    background: linear-gradient(to right, #306998, #FFD43B);
    color: black;
}

.portfolio-name-desc{
    width: 100%;
    text-align: center;
    text-justify: auto;
}

.portfolio-name-desc h1, .portfolio-name-desc p{
    margin: 40px 20px;
}

.portfolio-name-desc h1{
    font-weight: bold;
}


/* Footer Content */

footer{
    margin:0%;
}


.footer{
    margin-top: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
}

.footer p{
    padding-left: 20px;
    font-size: 15px;
}
