/* Custom Properties */
:root {
    --button-color: #8946E0;
    --button-hover-color: #633fcf;
    --input-color: #3B427D;
    --main-bg-color: #323232;
    --second-bg-color: #444444;
}

html, body{
    min-height: 100%;
}

/* General body */

body{
    margin:0%;
    color: white;
}

.bg
{
    background-color: var(--main-bg-color);
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.content{
    margin-left: 50px;
    margin-right: 50px;
    flex-grow: 1;
}

button{
    background-color: var(--button-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--button-hover-color);
}

h1{
    font-size: 60px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color:white;
}
/* Header Content */

.header-content{
    display:flex;
    align-items: center;
    gap:20px;
    background-color: var(--second-bg-color);
    
}

.header-content p, .header-content img{
    position: relative;
    margin: 0%;
    margin: 20px;
    padding:0px;
    text-align: center !important;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-content img{
    width:4%;
    cursor: pointer;
}

.header-content p{
    width:40%;
}

.header-content p:hover, header-content img:hover{
    cursor: pointer;
}

.header-content p:hover:before{
    content: ""; 
    position: absolute;
    border-bottom: 2px solid white;
}

 .header-content p:hover:after {
    content: ""; 
    position: absolute;
    margin: 0 auto;
    display: block; 
    padding-top: 10px;
    width: 50%;
    border-bottom: 5px solid white;
    left: 0px;
    right: 0px;
}


/* Introduction Content */

.introduction{
    text-align: center;
    min-height: 200px;
}

.introduction p{
    margin-top: 60px;
    font-size: 30px;
}

.introduction h1{
    line-height: 0.9;
    font-weight: bold;
}

/* Summary Content */
.summary {
    display: flex;
    flex-direction: row;
    gap:50px;
}
.summary img{
    border-radius: 5px;
    height: 39%;
    width: 39%;
    max-width: 100%;
    max-height: auto;
}

.summary-info{
    display: flex;
    flex-direction: column;
}

.summary-text h1, .summary-text p{
    margin: 0%;
}


.summary-text p{
    font-size: 30px;
}

.summary-buttons{
    margin-top: auto;
}

.summary-buttons button{
    box-sizing: border-box;
    border-radius: 5px;
    font-size:30px;
    border: none;
    color: white;
    width: 100%;
    height: 60px;
    margin-top: 20px;
}

/* Services Content */
.services-details{
    gap: 50px;
    display:flex;
}
.services-details img{
    height: 10%;
    width: 10%;
}

.services-details p{
    font-size: 30px;
}

/* Connection Content */
.connection, .connection-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connection-form input[type="text"],  .connection-form input[type="email"]{
    background-color: var(--input-color);
    border-radius: 5px;
    border: 1px solid transparent;
    width: 600px;
    height:70px;
    color:white;
    font-size:25px;
    padding-left: 25px;
}


.connection-form input::placeholder, .connection-form textarea::placeholder{
    color:white;
    font-size: 25px;
    opacity: 75%;
}

.connection-form textarea{
    resize: vertical;
    margin-bottom: 20px;
    background-color: var(--input-color);
    border-radius: 5px;
    border: none;
    width: 600px;
    height:70px;
    color:white;
    font-size:25px;
    padding-left: 25px;
}

.connection-form input[type="submit"]{
    align-items: center;
    background-color: var(--button-color);
    border-radius: 5px;
    border: none;
    height:70px;
    width: 200px;
    color:white;
    font-size: 25px;
    margin-bottom: 25px;
    cursor: pointer;
}

.connection-form input[type="submit"]:hover{
    background-color: var(--button-hover-color);
}

.forms{
    margin-bottom: 25px;
}

.error-message{
    color: red;
    font-size: 15px;
    margin: 0%;
    align-self: flex-start;
    display: none;
}

/* Footer Content */

footer{
    margin:0%;
}


.footer{
    margin-top: auto;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--second-bg-color);
}

.footer p{
    padding-left: 20px;
}